---
---
<nav class="max-w-7xl mx-auto px-6 py-12 flex justify-between items-center">
    <a href="/" class="text-xl font-light tracking-widest uppercase">SSxL</a>
    <div class="flex gap-4 md:gap-8 text-sm uppercase tracking-widest text-stone-500">
        <a href="/" class="hover:text-brand-coral hover:underline transition-all">首页</a>
        <a href="/#articles" class="hover:text-brand-coral hover:underline transition-all">文章</a>
        <a href="/about" class="hover:text-brand-coral hover:underline transition-all">关于</a>
    </div>
</nav>
